<?xml version="1.0" ?>
<config>
    <modules>
        <Magedoc_Like>
            <version>1.0.0</version>
        </Magedoc_Like>
    </modules>
    <global>
        <blocks>
            <magedoclike>
                <class>Magedoc_Like_Block</class>
            </magedoclike>
        </blocks>
        <models>
            <magedoclike>
                <class>Magedoc_Like_Model</class>
                <resourceModel>magedoclike_resource</resourceModel>
            </magedoclike>
            <magedoclike_resource>
                <class>Magedoc_Like_Model_Resource</class>
                <entities>
                    <table_like>
                        <table>magedoc_product_like</table>
                    </table_like>
                    <table_like_agregate>
                        <table>magedoc_product_like_aggregate</table>
                    </table_like_agregate>
                </entities>
            </magedoclike_resource>
        </models>
        <resources>
            <magedoclike_setup>
                <setup>
                    <module>Magedoc_Like</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magedoclike_setup>
            <magedoclike_write>
                <use>core_write</use>
            </magedoclike_write>
            <magedoclike_read>
                <use>core_read</use>
            </magedoclike_read>
        </resources>
        <helpers>
            <magedoclike>
                <class>Magedoc_Like_Helper</class>
            </magedoclike>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magedoclike before="Mage_Adminhtml">Magedoc_Like_Adminhtml</magedoclike>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <magedoclike>
                    <file>magedoclike.xml</file>
                </magedoclike>
            </updates>
        </layout>
        <routers>
            <magedoclike>
                <use>standard</use>
                <args>
                    <module>Magedoc_Like</module>
                    <frontName>magedoclike</frontName>
                </args>
            </magedoclike>
        </routers>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <magedoc_like_on_catalog_product_collection_load_before>
                        <type>singleton</type>
                        <class>magedoclike/observer</class>
                        <method>catalogProductCollectionLoadBefore</method>
                    </magedoc_like_on_catalog_product_collection_load_before>
                </observers>
            </catalog_product_collection_load_before>
        </events>
    </frontend>
</config>